*.pyc
.DS_Store
*._
phylogenetic/.DS_Store
phylogenetic/cluster/cluster_debug/._.DS_Store
phylogenetic/cluster/cluster_debug/._batch1.txt
phylogenetic/cluster/cluster_debug/._calc_recon.py
phylogenetic/cluster/cluster_debug/._count_recons_OLD.py
phylogenetic/cluster/cluster_debug/._plot_file_size.py
phylogenetic/cluster/cluster_debug/._verify_output.txt
phylogenetic/run_experiments/experiment_info/processed_data/._.DS_Store
phylogenetic/run_experiments/experiment_info/processed_data/._kc.txt
phylogenetic/run_experiments/old_experiment_results/2016_plot_data/._.DS_Store
phylogenetic/run_experiments/old_experiment_results/nohup.out
phylogenetic/run_experiments/previous_tools/._convert.py
phylogenetic/run_experiments/previous_tools/._create_csv.py
phylogenetic/run_experiments/previous_tools/._create_google_sheets_data.py
phylogenetic/run_experiments/previous_tools/._experiment_general.sh
phylogenetic/run_experiments/previous_tools/._run_exps.sh